body{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #8fb1ec;
    padding: 20px;
    color: #212121;
}

.card{
    background-color: #ffffff;
    width: 80%;
    margin:20px auto;
    border-radius: 10px;
    padding: 20px 10px 80px 10px;
    border: 1px solid yellow;
    margin-bottom: 20px;
}

h3{
    text-align: center;
    color:rgb(172, 51, 51);
    margin-bottom: 40px;
    font-size: 25px
}

table{
    width: 95%;
    border-collapse: collapse;
    margin: auto;
    padding:10px;
    background: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-card {
    background: #fff;
    border-radius: 12px;
    border: 1px solid #f6df0d;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    max-width: 1000px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #000;
}

th{
    background: #2c3e50;
    color: #fff;
    font-weight: 600;
    width: 35%;
}

td{
    
}

.questions{
    background-color: #ffffff;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: black 5px 5px 10px;
}

.question-block{
    padding: 10px;
    font-weight: bold;
    
}

textarea{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

select, input[type="text"], input[type="number"]{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

button{
    margin:30px auto;
    display: block;
    padding:10px 20px 10px 20px;
    border: black 1px solid;
    border-radius: 20px;
    background-color: #1dbe63;
}


