body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #4775a5, #c6e2ff);
    margin: 0px;
    padding: 50px;
    min-height: 100vh;
}

/* Header Styling */
.page-header {
    text-align: center;
    margin-bottom: 25px;
}

.page-header h2 {
    font-size: 2rem;
    color: #1c1c1c;
    margin-bottom: 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.page-header span {
    color: #1e90ff;
}

.org-name {
    font-size: 25px;
    color: #212121;
    font-weight: 500;
}

/* Export Button */
.export-container {
    text-align: right;
    margin-bottom: 20px;
}

.export-btn {
    background-color: #fff;
    color: #284767;
    border: none;
    margin-bottom:5px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 13px;
    box-shadow: 2px 2px 5px black;
    transition: 0.5s ease;
}

.export-btn:hover {
    background-color: #284767;
    color: #fff;
    box-shadow: none;
    font-weight: bolder;
    font-size: 12.5px;
    margin-bottom: 6px;
    
}

/* Table */
.table-container {
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
}

.student-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 0.95rem;
    background-color: #ffffff;
    border-radius: 10px;
    overflow:hidden;
}

.student-table th{
    background-color: #1870c8;
    color: #fff;
    text-align: left;
    padding: 12px 15px;
}

.student-table td {
    padding: 12px 15px;
}

a{
    text-decoration: none;
}

/* Responsive */
@media (max-width: 768px) {
    .export-container {
        text-align: center;
        margin-right: 0;
    }

    .student-table {
        font-size: 0.85rem;
    }
}
