body{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #2557ac 0%,  #6993e8 100%);
    margin:0px;
    padding:20px;
}
h2{
    margin-top:50px;
    text-align: center;
    color: #fafafa;
    font-size: 2rem;
}

#logout-link {
  position: absolute;
  font-size: 13px;
  top: 20px;
  right: 20px;
  background-color: crimson;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 5px black;
  font-weight: 500;
  transition: background-color 0.5s;
}

#logout-link:hover{
  background-color: rgb(192, 0, 38);
  box-shadow: none;
  font-size: 12px;
}

.button-container{
    margin:40px;
    padding-right: 90px;
    text-align: right;

}

.btn {
  padding: 8px 16px;
  margin-left:10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  box-shadow: 2px 2px 5px black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background-color: #1e3c72;
  box-shadow: none;
  font-size: 13.5px;
  margin-left:13.5px;
}

#href{
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.profile-card {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #f6df0d;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  max-width: 1000px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-5px);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}
th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #000000;
}
th {
  background: #2c3e50;
  color: #fff;
  font-weight: 600;
  width: 35%;
}
td {
  background: #fafafa;
}

a{
  font-weight:600;
  text-decoration: none;
}

h4{
    color:rgb(169, 15, 46);
    text-align: center;
    font-size:1.2rem;
}

.empty-spc{
  margin:50px;
  padding: 20px;
  text-align: center;
}

.empty-spc p{
  margin: 30px;
  padding: 30px;
  color: rgb(203, 15, 53);
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Baskerville Old Face';
}

/* Tables */
