* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #8fb1ec;
  background: linear-gradient(135deg, #357cf7 0%,  #689afe 100%);
  margin: 0;
  padding: 20px;
  color: #333;
}

h2 {
  text-align: center;
  color: #ededed;
  margin: 30px;
  padding:20px;
  font-size: 2rem;
}

h3{
  text-align: center;
  color:red;
  background-color: #fafafa;
  padding:10px;
  border-radius: 3px 35px;
  margin-bottom: 30px;
  font-size: 15px;
}

.tick{
  height:10;
  width:10;
}

h4{
  text-align: center;
  color: crimson;
  margin-bottom: 30px;
  font-size: 1.25rem;
}

/* Card Container */
.profile-card {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #f6df0d;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  max-width: 1000px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.profile-card:hover {
  transform: translateY(-5px);
}
/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}
th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #000000;
}
th {
  background: #2c3e50;
  color: #fff;
  font-weight: 600;
  width: 35%;
}
td {
  background: #fafafa;
}
/* Links */
a {
  color: #3498db;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}
/* Update link */
.update-link {
  text-align: right;
  margin-bottom: 20px;
  margin-right: 10%;
}
#logout-link {
  position: absolute;
  font-size: 13px;
  top: 20px;
  right: 20px;
  background-color: crimson;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 5px black;
  font-weight: 500;
  transition: background-color 0.5s;
}

#logout-link:hover{
  background-color: rgb(192, 0, 38);
  box-shadow: none;
  font-size: 12px;
}

.btn {
  padding: 8px 16px;
  margin-left:10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  box-shadow: 2px 2px 5px black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background-color: #1e3c72;
  box-shadow: none;
  font-size: 13.5px;
  margin-left:13.5px;
}

/* Responsive */
@media (max-width: 768px) {
  th, td {
    display: block;
    width: 100%;
  }
  th {
    border-radius: 8px 8px 0 0;
  }
  td {
    border-radius: 0 0 8px 8px;
    margin-bottom: 10px;
  }
  h2{
    font-size: 1.5rem;
  }
  .update-link{
    margin-right: 2%;
  }
}

.empty-spc{
  margin:50px;
  padding: 20px;
  text-align: center;
}
.empty-spc p{
  margin: 30px;
  padding: 30px;
  color: rgb(203, 15, 53);
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Baskerville Old Face';
}
