* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, #2557ac 0%,  #6993e8 100%);
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #ededed;
  margin: 30px;
  padding:20px;
  font-size: 2rem;
}

#logout-link {
  position: absolute;
  font-size: 13px;
  top: 20px;
  right: 20px;
  background-color: crimson;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 5px black;
  font-weight: 500;
  transition: background-color 0.5s;
}

#logout-link:hover{
  background-color: rgb(192, 0, 38);
  box-shadow: none;
  font-size: 12px;
}

h3{
  color: brown;
  font-size: 1rem;
  font-family: Georgia, Times, 'Times New Roman', serif; 
}

.tick{
  height:10;
  width:10;
}

h4{
  text-align: center;
  color: crimson;
  margin-bottom: 30px;
  font-size: 1.25rem;
}

.table-card{
  background-color: #ededed;
  margin:10px 40px;
  padding:30px;
  border-radius: 10px;
  border:1px black solid;
  text-align: center;
  
}

h5{
  color: brown;
  font-size: 1rem;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #000000;
}
th {
  background: #2c3e50;
  color: #fff;
  font-weight: 600;
  width: 35%;
}
td {
  background: #fafafa;
}
/* Links */
a {
  color: #3498db;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}
/* Update link */
.update-link {
  text-align: right;
  margin-bottom: 20px;
  margin-right: 10%;
}

.btn {
  padding: 8px 16px;
  margin-left:10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  box-shadow: 2px 2px 5px black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background-color: #1e3c72;
  box-shadow: none;
  font-size: 13.5px;
  margin-left:13.5px;
}

/* Responsive */
@media (max-width: 768px) {
  th, td {
    display: block;
    width: 100%;
  }
  th {
    border-radius: 8px 8px 0 0;
  }
  td {
    border-radius: 0 0 8px 8px;
    margin-bottom: 10px;
  }
  h2{
    font-size: 1.5rem;
  }
  .update-link{
    margin-right: 2%;
  }
}


