    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background: #8fb1ec;
      margin: 0;
      padding: 20px;
      color: #333;
    }

    h2 {
      text-align: center;
      color: #2c3e50;
      margin-bottom: 30px;
      font-size: 2rem;
    }
    h4{
      text-align: center;
      color: #c34b35;
      margin-bottom: 30px;
      font-size: 1rem;
    }

    /* Card Container */
    .profile-card {
      background: #fff;
      border-radius: 12px;
      border: 1px solid #f6df0d;
      padding: 20px;
      margin: auto;
      margin-bottom: 30px;
      max-width: 1000px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }

    .profile-card:hover {
      transform: translateY(-5px);
    }

    /* Tables */
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 15px 0;
    }

    th, td {
      padding: 12px 15px;
      text-align: left;
      border: 1px solid #000000;
    }

    th {
      background: #2c3e50;
      color: #fff;
      font-weight: 600;
      width: 35%;
    }

    td {
      background: #fafafa;
    }

    /* Links */
    a {
      color: #3498db;
      text-decoration: none;
      font-weight: 500;
    }

    a:hover {
      text-decoration: underline;
    }

    /* Update link */


  .update-link {
    text-align: right;
    margin-bottom: 20px;
    margin-right: 10%;
  }

  .btn {
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  .btn:hover {
    background-color: #0056b3;
  }


    /* Responsive */
    @media (max-width: 768px) {
      th, td {
        display: block;
        width: 100%;
      }
      th {
        border-radius: 8px 8px 0 0;
      }
      td {
        border-radius: 0 0 8px 8px;
        margin-bottom: 10px;
      }
      h2{
        font-size: 1.5rem;
      }
      .update-link{
        margin-right: 2%;
      }
    }