{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/status_update.css' %}">
    <title>Status Update</title>
</head>
<body>
    <h2>Student Information</h2>
    <table border="1" cellpadding="5" cellspacing="2">
        <tr><th>Job Title</th><td>{{ job.title }}</td></tr>
        <tr><th>Organization</th><td>{{ job.organization }}</td></tr>
        <tr><th>Student Name</th><td>{{ application.sId.name|upper }}</td></tr>
        <tr><th>Student ID</th><td>{{ application.sId.sId }}</td></tr>
        <tr><th>Course</th><td>{{ application.sId.course }}</td></tr>
        <tr><th>Passout Year</th><td>{{ application.sId.passout_year }}</td></tr>
        <tr><th>Applied Date</th><td>{{ application.apply_date }}</td></tr>
    </table>
<br><br>

<!-- Status Update Form -->
    <h2>Status Update</h2>
    <form method="POST">
        {% csrf_token %}
        
<!-- Round 1 -->
        <div class="round" id="round1">
            <label>Introduction Round:</label>
            <div class="three-state-switch">
                <input type="radio" name="round1" class="button" value="none" {% if status.round1 == "none" %}checked{% endif %}>
                <input type="radio" name="round1" class="button" value="disqualified" {% if status.round1 == "disqualified" %}checked{% endif %}>
                <input type="radio" name="round1" class="button" value="qualified" {% if status.round1 == "qualified" %}checked{% endif %}>
            </div>
    <br><br>
            <label>Reason (if any):</label>
            <input type="text" name="des1" value="{{ status.reason1|default:'' }}">
        </div>

    <br><br><br>
        
    <!-- Round 2 -->
        <div class="round" id="round2">
            <label>Technical Round:</label>
            <div class="three-state-switch">
                <input type="radio" name="round2" class="button" value="none" {% if status.round2 == "none" %}checked{% endif %}>
                <input type="radio" name="round2" class="button" value="disqualified" {% if status.round2 == "disqualified" %}checked{% endif %}>
                <input type="radio" name="round2" class="button" value="qualified" {% if status.round2 == "qualified" %}checked{% endif %}>
            </div>
        
    <br><br>
            <label>Reason (if any):</label>
            <input type="text" name="des2" value="{{ status.reason2|default:'' }}">
        </div>

    <br><br><br>

    <!-- Round 3 -->
        <div class="round" id="round3">
            <label> Soft-skill round:</label>
            <div class="three-state-switch">
                <input type="radio" name="round3" class="button" value="none" {% if status.round3 == "none" %}checked{% endif %}>
                <input type="radio" name="round3" class="button" value="disqualified" {% if status.round3 == "disqualified" %}checked{% endif %}>
                <input type="radio" name="round3" class="button" value="qualified" {% if status.round3 == "qualified" %}checked{% endif %}>
            </div>

    <br><br>
            <label>Reason (if any):</label>
            <input type="text" name="des3" value="{{ status.reason3|default:'' }}">
        </div>
    <br><br><br>

    <!-- Round 4 -->
        <div class="round" id="round4">
            <label>HR Interview:</label>
            <div class="three-state-switch">
                <input type="radio" name="round4" class="button" value="none" {% if status.round4 == "none" %}checked{% endif %}>
                <input type="radio" name="round4" class="button" value="disqualified" {% if status.round4 == "disqualified" %}checked{% endif %}>
                <input type="radio" name="round4" class="button" value="qualified" {% if status.round4 == "qualified" %}checked{% endif %}>
            </div>
        
    <br><br>
            <label>Reason (if any):</label>
            <input type="text" name="des4" value="{{ status.reason4|default:'' }}">
        </div>
    <br><br><br>

    <!-- Review -->
        <div class="review-section">
            <label>Feedback for Student:</label>
            <textarea name="review" rows="4" cols="50" class="text-area">{{ status.feedback|default:'' }}</textarea>
        </div>

    <br><br><br>    

        <button type="submit">Update</button>
    </form>
        <script src="{% static 'JS/status_update.js' %}"> </script>
</body>
</html>
