{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/status_update.css' %}">
    <title>Status Update</title>
</head>
<body>
    <h2>Student Information</h2>
    <table border="1" cellpadding="5" cellspacing="2">
        <tr><th>Job Title</th><td>{{ job.title }}</td></tr>
        <tr><th>Organization</th><td>{{ job.organization }}</td></tr>
        <tr><th>Student Name</th><td>{{ application.sId.name }}</td></tr>
        <tr><th>Student ID</th><td>{{ application.sId.sId }}</td></tr>
        <tr><th>Course</th><td>{{ application.sId.course }}</td></tr>
        <tr><th>Passout Year</th><td>{{ application.sId.passout_year }}</td></tr>
        <tr><th>Applied Date</th><td>{{ application.apply_date }}</td></tr>
    </table>
<br><br>

<!-- Status Update Form -->
    <h2>Status Update</h2>
    <form method="POST">
        {% csrf_token %}
        
    <!-- Round 1 -->
        <div class="round-system1">
        <label>Introduction Round:</label>
        <label class="switch">
            <input type="checkbox" name="round1" value="qualified" {% if status.round1 == "qualified" %}checked{% endif %}>
            <span class="slider"></span>
        </label>
        <input type="hidden" name="round1_hidden" value="disqualified">
        
    <br><br>
        <label>Reason (if any):</label>
        <input type="text" name="des1" value="{{ status.reason1|default:'' }}">
        </div>

    <br><br><br>
        
    <!-- Round 2 -->
        <div class="round-system2">
        <label>Technical Round:</label>
        <label class="switch">
            <input type="checkbox" name="round2" value="qualified" {% if status.round1 == "qualified" %}checked{% endif %}>
            <span class="slider"></span>
        </label>
        <input type="hidden" name="round2_hidden" value="disqualified">
        
    <br><br>
        <label>Reason (if any):</label>
        <input type="text" name="des2" value="{{ status.reason2|default:'' }}">
        </div>
    <br><br><br>

    <!-- Round 3 -->
        <div class="round-system3">
        <label>Soft-skill Round:</label>
        <label class="switch">
            <input type="checkbox" name="round3" value="qualified" {% if status.round3 == "qualified" %}checked{% endif %}>
            <span class="slider"></span>
        </label>
        <input type="hidden" name="round3_hidden" value="disqualified">

    <br><br>
        <label>Reason (if any):</label>
        <input type="text" name="des3" value="{{ status.reason3|default:'' }}">
        </div>
    <br><br><br>

    <!-- Round 4 -->
        <div class="round-system4">
        <label>HR Interview:</label>
        <label class="switch">
            <input type="checkbox" name="round4" value="qualified" {% if status.round4 == "qualified" %}checked{% endif %}>
            <span class="slider"></span>
        </label>
        <input type="hidden" name="round4_hidden" value="disqualified">

    <br><br>
        <label>Reason (if any):</label>
        <input type="text" name="des4" value="{{ status.reason4|default:'' }}">
        </div>
    <br><br><br>

        <button type="submit">Update</button>
    </form>
        <script src="{% static 'JS/status_update.js' %}">
        
    </script>
</body>
</html>
