{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Page</title>
    <link rel="stylesheet" href="{% static 'CSS/student_verification.css' %}">
</head>
<body>
<!-- Error Messages -->
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
<div class="btn">
    <a id="href" href="/login/profile/"><strong>Go Back</strong></a>
</div>

<h2>Verification Page</h2>

<div class="card">
    <div class="details">
        <p>Your email: <strong>{{ student_data.email }}</strong></p>
    </div>

<!-- SEND OTP BUTTON -->
    <div class="otp">
        <button type="button" onclick="window.location.href='{% url 'send_otp' %}'" class="otp-btn"> Send OTP </button>
    </div>
<br>

<!-- VERIFY OTP FORM -->
    <form method="POST">
        {% csrf_token %}
        <div class="enter-otp">
            <label for="otp">Enter OTP:</label><br>
            <input type="text" id="otp" name="otp" maxlength="6" required>
            <button type="submit" class="verify-btn">Verify Email</button>
        </div>
    </form>

    <br><br>

<!-- Phone Number Verification -->
    <div class="details">
        <p>Your Phone Number: <strong>{{ student_data.phone }}</strong></p>
    </div>

<!-- SEND PHONE OTP BUTTON -->
    <div class="otp">
        <button type="button" onclick="window.location.href='{% url 'send_otp' %}'" class="otp-btn">Send OTP</button>
    </div>
<br>

<!-- VERIFY OTP FORM -->
    <form method="POST" >
        {% csrf_token %}
        <div class="enter-otp">
            <label for="phone_otp">Enter Phone OTP:</label><br>
            <input type="text" name="phone_otp" maxlength="6" required>
            <button type="submit" class="verify-btn">Verify Number</button>
        </div>
    </form>

</div>
<script src="{% static 'Js/student_verification.js' %}"></script>
</body>
</html>
